.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    margin: 0;
    padding: 0;
    background-color: #81D4FA;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    text-align: center;
}

.login {
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 8px;
    width: 550px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: -15%; left: 0; bottom: 0; right: 0;
    padding-top: 25px;
}

.inputText {
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

.button {
    width: 100px;
    height: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 60%; left: 0; bottom: 0; right: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #CFD8DC;
    color: black;
    border-color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 3px;
    cursor: pointer;
}

.button:hover{
    background-color: #81D4FA;
}

.button:focus{
    background-color: #81D4FA;
    outline: none;
}

.signOutButton {
    width: 100px;
    height: 40px;
    overflow: auto;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    background-color: #CFD8DC;
    color: black;
    border-color: black;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 3px;
    cursor: pointer;
    margin-top:50px;
    margin-bottom: 50px
}

.signOutButton:hover{
    background-color: #81D4FA;
}

.signOutButton:focus{
    background-color: #81D4FA;
    outline: none;
}

.titleText{
    padding-top: 10px;
    font-size: 26px;
    line-height: 0.7;
    padding-bottom: 3px;
}

.flavorText {
    font-size: 15px;
    padding-top: -20px;
    padding-bottom: 14px;
    font-style: oblique;
}

.mainPageContent {
    background-color: white;
    overflow: auto;
    border-radius: 25px;
    box-shadow: 8px 12px;
    width: 92%;
    height: 88%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 10px; right: 0;
    padding-top: 25px;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    transform: translateX(-15px);
}
*::-webkit-scrollbar-track {
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateX(-15px);
}
*::-webkit-scrollbar-thumb {
    background-color: #CFD8DC;
    border-radius: 0;
    border-radius: 8px;
    border: 4px solid transparent;
}

.gridContainer {
    display: grid;
}

.gridItem {
    display: inline-grid;
    grid-row-start: 1;
    grid-row-end: 7;
}
